{% extends "base.html" %}
{% load static %}

{% block title %}
Agendar Evento
{%endblock %}

{% block content%}
    <div style="display: flex; justify-content: space-between; align-items: center; height: 80vh;">
        <div style="width: 50%;">
            <h2>Agenda un evento con nosotros:</h2>
            <form method="get" action="/agendar/">
                {% csrf_token %}
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>
                <br>
                <br>
                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" name="apellido" required>
                <br>
                <br>
                <label for="correo">Correo electrónico:</label>
                <input type="email" id="correo" name="correo" required>
                <br>
                <br>
                <label for="telefono">Teléfono de contacto:</label>
                <input type="text" id="telefono" name="telefono" maxlength="9" required>
                <br>
                <br>
                <label for="titulo">Título del evento:</label>
                <input type="text" id="titulo" name="titulo" required>
                <br>
                <br>
                <label for="fecha_pedido">Fecha de pedido (formato: AAAA-MM-DD):</label>
                <input type="date" id="fecha_pedido" name="fecha_pedido" required>
                <br>
                <br>
                <label for="descripcion">Descripción del evento:</label>
                <textarea id="descripcion" name="descripcion" rows="4" required></textarea>
                <br>
                <br>
                <label for="ubicacion">Ubicación del evento:</label>
                <input type="text" id="ubicacion" name="ubicacion" required>
                <br>
                <br>
                <button type="submit">Agendar</button>
            </form>
        </div>

        <img src="{% static 'IM5.png' %}" alt="Imagen5" style="width: 40%; height: auto;">
    </div>
    <div style="text-align: center; margin-top: 20px;">
        <a href="{% url 'index' %}" style="text-decoration: none; padding: 10px 20px; background-color: #e74c3c; color: #fff; border-radius: 5px;">Volver</a>
    </div>
{% endblock %}